<html>
<head>

<title>Data</title>

<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>


h1 {
    font-family: arial;
    font-size:300%;
    text-align: center;
}
p#alert {
    font-family: arial;
    font-size:200%;
    text-align:center;
    margin-top:30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>




</head>

<body>

<h1>Sensor data</h1>



<p id="alert"></p>



{{table|safe}}


<div data-role="footer" data-position="fixed">
    <h1>Sensor data</h1>
</div>

<script>
	const class_name = "dataframe";
	const table_cell_color = "#f46849"

	function change_value_color(value,table_data_object, table_row_object, threshold_value) {

		table_data_object.innerHTML = value;

		if (value < threshold_value) {
				table_row_object.style.backgroundColor = table_cell_color;
			}
		else {
				table_row_object.style.backgroundColor = "initial";
			}
	}
    function use_api(id,table_data_object, table_row_object, threshold_value) {
        $.ajax({
        	type: "GET",
        	url: document.URL +id, 
        	success: function(data, status){
            //use api features JSON must have "data" and "head"
            	const server_value = data["data"];
            	change_value_color(server_value,table_data_object, table_row_object, threshold_value)
        	},

        	error: function() {
                var alert = document.getElementById("alert")
                alert.innerHTML = "Refresh"
        	}
        })
    }
	function update_table(table_class){
		if (table_class == undefined)	{
			table_class = "dataframe";
		}

		table = document.getElementsByClassName(table_class)[0] //because class not id
		row_length = table.rows.length;
		column_length = table.rows[0].cells.length;
		value_column = column_length - 1;
		threshold_column = column_length - 2;

		for (i = 1; i < row_length; i++) {
			api_id = table.rows[i].cells[0];

			table_data_object = table.rows[i].cells[value_column];

			table_row_object = table.rows[i];
			
			threshold_value = table.rows[i].cells[threshold_column].innerHTML;

			use_api(api_id,table_data_object, table_row_object, threshold_value);
			
			
		}
	} 
    update_table(class_name)

	setInterval(update_table, 1000, class_name)

</script>

</body>



</html>
